.App {
  text-align: center;
}

h1 {
  background-color: #282c34;
  color: #fff;
  padding: 10px 0;
  margin: 0 0 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0 0 20px;
}

ul li {
  padding: 10px 0;
  position: relative;
}

ul li:not(:last-child):after {
  content: '...';
  position: absolute;
  bottom: -5px;
  left: 50%;
  color: #a0a2a5;
  transform: translate(-50%, 0);
}
