.xing {
  display: flex;
  justify-content: space-around;
}

.trafficLightContainer {
  display: inline;
}

.circle {
  border-radius: 50%;
  background: #000;
  width: 50px;
  height: 50px;
  margin: 5px;
}

.red {
  background: red;
}

.yellow {
  background: yellow;
}

.green {
  background: green;
}

.disabled {
  opacity: 0.1;
}

.label {
  margin: 10px;
}

.button {
  margin: 10px;
}
